<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHEIN</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <style>
        body { background: #f4f5f7; }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">CHEIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Tienda</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if current_user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('profile', username=current_user['username']) }}">Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="{{ url_for('logout') }}">Salir</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesión</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>