{% extends "base.html" %}
{% block content %}

<div class="row mb-4">
    <div class="col-12 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">CHEIN</h1>
                <p class="card-text">Compra bueno, bonito, balato</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ product['name'] }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ product['description'] }}</h6>
                <p class="price">{{ '%.2f'|format(product['price']) }} €</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}