{% extends "base.html" %}
{% block content %}
<div class="card w-50">
    <div class="card-body">
        <h1 class="card-title">Iniciar Sesión</h1>
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Nombre de usuario</label>
                <input class="form-control" name="username" required />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input class="form-control" name="password" type="password" required />
            </div>
            
            <button class="btn btn-outline-success" type="submit">Entrar</button>
        </form>
        
    </div>
</div>
{% endblock %}